<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>filza</string>
		<string>filzer</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>VarCleanRulesBasename</key>
	<string>$(VARCLEAN_RULES_BASENAME)</string>
	<key>VarCleanRulesOverrideBasename</key>
	<string>$(VARCLEAN_RULES_OVERRIDE_BASENAME)</string>
</dict>
</plist>
