Package: com.m1337.varclean
Name: varClean (rootless)
Depends: firmware (>= 15.0)
Description: varClean for rootless
Maintainer: m1337
Author: roothide
Section: System
Icon: https://raw.githubusercontent.com/m1337v/RootHideManagerApp/rootless/varClean/Assets.xcassets/AppIcon.appiconset/icon-1024.png
Depiction: https://github.com/m1337v/RootHideManagerApp
Support: https://github.com/m1337v/RootHideManagerApp
Architecture: iphoneos-arm64
Version: 1.0