Package: m1337.rhinject
Name: RHInject
Version: 1.0.0
Architecture: iphoneos-arm64e
Depends: firmware (>= 15.0)
Description: Manage RootHide injection and hidden-app rules
Maintainer: m1337
Author: m1337, roothide, zqbb
Section: System
Icon: 
Depiction: https://github.com/m1337v/opamine
Support: https://github.com/m1337v/opamine
